---
---

<!-- Modal -->
<div
  class="modal fade"
  id="AsistenciaModal"
  tabindex="-1"
  aria-labelledby="AsistenciaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="content-finaly mb-2">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="text-center">
          <img src="./table.png" alt="party" class="mb-4" />
          <h4 class="text-center">
             Registro de Asistencia
          </h4>
          <p>Diligencia el formulario a continuación:</p>
        </div>
        <div class="text-center">
          <form id="loginForm">
            <div id="hidden1" class="row">
              <div class="col-xl-12 col-12">
                <div class="mb-3">
                  <label for="allname" class="form-label"
                    >Escribe tu Email:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="allname"
                    name="allname"
                  />
                  <p id="error-allname" class="error text-danger"></p>
                </div>
              </div>
              <div class="col-xl-12 col-12">
                <div class="mb-3">
                  <label for="phone" class="form-label"
                    >Escribe tu télefono:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                  />
                  <p id="error-phone" class="error text-danger"></p>
                </div>
              </div>
              
              <div class="col-xl-12 col-12">
                <div class="mb-3">
                  <label for="phone_attendant" class="form-label"
                    >Escribe el télefono de un acudiente:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone_attendant"
                    name="phone_attendant"
                  />
                  <p id="error-phone_attendant" class="error text-danger"></p>
                </div>
              </div>
            </div>
          </form>
          <div class="content-finaly mt-4 d-grid gap-2">
            <button
              id="btn-asistencia-in-modal"
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal">Registrar Asistencia</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="./js/component.asistencia.js"></script>

  <style>
    .content-finaly {
      display: flex;
      justify-content: right;
    }
  </style>
</div>
